* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /************************************************
  * Selettori TAG
  ************************************************/
  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: black;
    color: #dcdcdc;
  }
  
  header {

  }
  
  main {
    height: calc(100vh - 45px - 54px);
    overflow: hidden;
    display: flex;
  }
  
  footer {
  }

  .participant img{
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  
  /************************************************
  * Classi layout
  ************************************************/
  .container {
    max-width: 80%;
    width: 100%;
    margin: auto;
  }
  
  .header-container{
    
    display: flex;
    justify-content: flex-end;
    height: 45px;
    padding: 12.5px 14px;
  }


  .main-container{
    height: calc(100% - 45px);
    position: relative;
  }


  .participant-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    align-items: flex-start;
    overflow: hidden;
  }

  .participant{     /*Unita' di spazio*/
    min-width: 200px;
    max-width: 300px;
    width: calc(100% / 5 - 30px); /*per padding frecce*/
    height: calc(100% / 5);
    min-height: 150px;
    max-height: 200px;
    border: 3px solid black;
    flex-shrink: 0;
    background-color: #232427;
    transition: border-color 0.3s;
    position: relative;
  }
  
  .participant:hover {
    border-color: rgb(0, 255, 64);
  }
  .arrow-page{
      padding: 30px 14px;
      position: absolute;
      background-color: #232427;
      top: 50%;
      transform: translateY(-50%);
  }
  
  .arrow-right {
      right: 0;
}
  .arrow-left {
      left: 0;
  }

  .block-container{
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #232427;


  }
  
  .nametag{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    padding: 2px 5px ;
    z-index: 99;
  }

  .arrow-page p{
    padding-top: 10px;
  }

  .freccia{
    display: inline-block;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 15px solid rgba(255, 255, 255, 0.788);
    /*padding-bottom: 0px;*/

  }

.freccia-sx{
  rotate: 90deg;
    text-align: center;
}

  .freccia-dx{
    /*padding-bottom: 0px;*/
    rotate: -90deg;
    text-align: center;
  }

  .arrow-page:hover .freccia{
    border-top: 15px solid cyan;
  }

  .first-block{
    
  }
  
  /************************************************
  * Classi Utilities
  ************************************************/
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }